body{
    display:flex;
    flex-direction: column;
    margin:0px;
    overflow-x: hidden;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    min-height: 60px;
    padding: 0 200px;
    flex-shrink: 0;
}
.Logo{
    padding: 8px;
    font-size: 30px;
    font-family: 'Nova Square', sans-serif;
    color: rgb(255, 255, 255);
}
ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    padding: 8px;
    margin: 0px;
}
a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}
.title{
    display: flex;
    background-color: #c8c8c8;
    padding: 75px 200px;
    align-items: center;
    gap: 40px;
}
.title > img{
    height: 250px;
    width: 500px;
    object-fit:scale-down;
    filter: contrast(110%);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px #1F2937;
}
.title h1{
    font-size: 48px;
    font-family: 'Oswald';
}
.title p{
    font-size: 18px;
    margin: 10px 0;
    font-style: italic;
}
.title button{
    margin-top: 10px;
    padding: 8px 30px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    background-color: rgb(23, 103, 216);
    border-width: 0;
}
.content > h2{
    text-align: center;
    color: #1d2e45;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif
}
.cards {
    display: flex;
    gap: 60px;
    margin: 0 200px;
    margin-bottom: 50px;
    justify-content: center;
}
.cards > div > p{
    flex: 0 1 auto;
    max-width: 180px;
    text-align: center;
    font-family:'Nova Square', sans-serif;
    font-size: 16px;
    color:rgb(0, 0, 0);
}
.cards img {
    flex: 0 1 auto;
    width: 180px;
    height: 180px;
    object-fit:cover;
    border-radius: 15px;
    border: 3px solid rgb(23, 103, 216);
}
.quote {
    padding: 100px 250px;
    background-color: #E5E7EB;
}
.quote > em {
    font-size: 35px;
    color: #1d2e45;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}
.quote > p {
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1d2e45;
    font-weight: 800;
}
.call-to-action{
    display:flex;
    margin: 100px 200px;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    background-color: #5091fb;
    border-radius: 8px;
}
.CTA-text{
    color: rgb(248, 248, 248);
    font-size: 20px;

}
.CTA-text > p{
    margin: 5px 0;
}
.call-to-action > button{
    padding: 8px 20px;
    color: white;
    font-weight: 800;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;

}
.footer {
    display: flex;
    padding: 40px 200px;
    justify-content: space-between;
    flex-shrink: 0;
    background-color: #f9f9f9;
}
.footer a{
    color: #1d2e45;
    font-size: 16px;
}
.footer > img{
    max-width: 200px;
    max-height: 200px;
}
.footer > .left-links, .footer > .right-links{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.credit-cards{
    background-color: #f9f9f9;
}
.credit{
    margin-left: 180px;
    width: 200px;
    height: 50px;
    object-fit: cover;
}